<div class="container">
  <div class="row mt-3">

    <div class="col">
      <div class="list-group">
        <a *ngFor="let character of charactersArray" class="list-group-item list-group-item-action"
          (click)="selectCharacter(character)">{{character.nomUsuari}}</a>
      </div>

      <br>

      <button type="button" class="btn btn-info" (click)="isCreatingNewChar = true">Add Character</button>

    </div>

    <!-- <div *ngIf="isCreatingNewChar === false" class="col">
      <app-character [character]="characterSelected" (saveEvent)="updateCharacter($event)"
        (deleteEvent)="deleteCharacter($event)"></app-character>
    </div> -->

    <div *ngIf="isCreatingNewChar === true" class="col">

      <app-registre-usuari (characterEvent)="addCharacter($event)"></app-registre-usuari>

    </div>

  </div>
</div>
