<br>
<div class="container">
  <form>
    <div class="card">
      <h5 class="card-header">Registrar:</h5>
      <div class="form-group mx-sm-5">
        <p>Nombre: <input type="text" class="form-control" #nomUsuari id="nomUsuari"></p>
        <p>Apellido: <input type="text" class="form-control" #cognom id="cognom"></p>
        <p>Edad: <input type="number" class="form-control" #edat id="edat"></p>
        <p>Foto: <input type="text" class="form-control" #foto id="foto"></p>
        <p>Descripcion: <input type="text" class="form-control" #desc id="desc"></p>
        <p>Correo: <input type="email" class="form-control" #correu id="correu"></p>
        <p>Contraseña: <input type="text" class="form-control" #password id="password"></p>
      </div>
      <button type="submit" class="btn btn-primary" (click)="Enviardatos(nomUsuari, cognom, edat, foto, desc, correu, password)">Registrar</button>
    </div>
  </form>
</div>
<br><br><br><br>
