<div class="container">
  <form [formGroup]="usuario">
    <div class="form-group">
      <label>Nombre</label>
      <input type="text" placeholder="Nombre" [(ngModel)]="linea.nomUsuari" formControlName="nombre" class="form-control"
        [ngClass]="{'is-invalid': submitted && f.nombre.errors}" #nomUsuari>
      <div *ngIf="submitted  && f.nombre.errors" class="invalid-feedback">
        <div *ngIf="f.nombre.errors.required">El nom es obligatori</div>
      </div>
    </div>
    <div class="form-group">
      <label>Cognom</label>
      <input type="text" placeholder="Cognom" [(ngModel)]="linea.cognom" formControlName="apellido" class="form-control"
        [ngClass]="{'is-invalid': submitted && f.apellido.errors}" #cognom>
      <div *ngIf="submitted  && f.apellido.errors" class="invalid-feedback">
        <div *ngIf="f.apellido.errors.required">El Cognom es obligatori</div>
      </div>
    </div>
    <div class="form-group">
      <label>Edat</label>
      <input type="text" placeholder="Edat" [(ngModel)]="linea.edat" formControlName="edad" class="form-control"
        [ngClass]="{'is-invalid': submitted && f.edad.errors}" #edat>
      <div *ngIf="submitted  && f.edad.errors" class="invalid-feedback">
        <div *ngIf="f.edad.errors.required">L'edat es obligatoria</div>
        <div *ngIf="f.edad.errors.pattern">L'edat ha de ser numerica</div>
      </div>
    </div>
    <!-- <div class="form-group">
            <label>Sexe</label>
            <div class="radio">
                <label><input type="radio" name="sexe" checked formControlName="sexo"  [ngClass]="{'is-invalid': submitted && f.sexo.errors}" value="Home" #sexe> Home</label>
            </div>
            <div class="radio">
                <label><input type="radio" name="sexe" formControlName="sexo" [ngClass]="{'is-invalid': submitted && f.sexo.errors}" value="Dona" #sexe> Dona</label>
            </div>
            <div *ngIf="submitted  && f.sexo.errors" class="invalid-feedback">
                <div *ngIf="f.sexo.errors.required">Selecciona un sexe</div>
            </div>
        </div> -->
    <div class="form-group">
      <label>Foto perfil (URL)</label>
      <input type="text" placeholder="URL" [(ngModel)]="linea.foto" formControlName="foto" class="form-control"
        [ngClass]="{'is-invalid': submitted && f.foto.errors}" #foto>
      <div *ngIf="submitted  && f.foto.errors" class="invalid-feedback">
        <div *ngIf="f.foto.errors.required">La foto es obligatoria</div>
      </div>
    </div>
    <div class="form-group">
      <label>Descripció</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" [(ngModel)]="linea.desc" rows="3" type="text" placeholder="Descripció"
        formControlName="desc" class="form-control" [ngClass]="{'is-invalid': submitted && f.desc.errors}"
        #desc></textarea>
      <div *ngIf="submitted  && f.desc.errors" class="invalid-feedback">
        <div *ngIf="f.desc.errors.required">La descripció es obligatoria</div>
      </div>
    </div>

    <div class="form-group">
      <label>Correo</label>
      <input type="email" placeholder="Correo" [(ngModel)]="linea.correu" formControlName="correo" class="form-control"
        [ngClass]="{'is-invalid': submitted && f.correo.errors}" #correu>
      <div *ngIf="submitted  && f.correo.errors" class="invalid-feedback">
        <div *ngIf="f.correo.errors.required">El Correo es obligatorio</div>
        <div *ngIf="f.correo.errors.email">El Correo no es valido</div>
      </div>
    </div>

    <div class="form-group">
      <label>Contrasenya</label>
      <input type="password" placeholder="Contrasenya" [(ngModel)]="linea.password" formControlName="password" class="form-control"
        [ngClass]="{'is-invalid': submitted && f.password.errors}" #password>
      <div *ngIf="submitted  && f.password.errors" class="invalid-feedback">
        <div *ngIf="f.password.errors.required">La Contrasenya es obligatoria</div>
      </div>
    </div>
    <!-- <div class="form-group">
      <label>Confirmar contrasenya</label>
      <input type="password" placeholder="Contrasenya" formControlName="password" class="form-control"
        [ngClass]="{'is-invalid': submitted && f.password2.errors}" #password2>
      <div *ngIf="submitted  && f.password2.errors" class="invalid-feedback">
        <div *ngIf="f.password2.errors.required">La Contrasenya es obligatoria</div>
      </div>
    </div> -->
    <div class="form-group">
      <button class="btn btn-primary"
        (click)="Enviardatos(nomUsuari, cognom, edat, foto, desc, correu, password)">Enviar</button>
    </div>
  </form>
</div>

<!-- <div class="container">
    <form>
        <div class="card">
            <h5 class="card-header">Registrar:</h5>
            <div class="form-group mx-sm-5">
                <p>Nombre: <input type="text" class="form-control" id="nomUsuari"></p>
                <p>Apellido: <input type="text" class="form-control" #cognom id="cognom"></p>
                <p>Edad: <input type="number" class="form-control" #edat id="edat"></p>
                <p>Foto: <input type="text" class="form-control" #foto id="foto"></p>
                <p>Descripcion: <input type="text" class="form-control" #desc id="desc"></p>
                <p>Correo: <input type="text" class="form-control" #correu id="correu"></p>
                <p>Contraseña: <input type="text" class="form-control" #password id="password"></p>
            </div>
            <button type="submit" class="btn btn-primary">Registrar</button>
        </div>
    </form>
</div> -->
<br><br><br><br>
<!-- (click)="Enviardatos(nomUsuari, cognom, edat, foto, desc, correu, password)" -->
